* {
	box-sizing : border-box;
}
body {
    scroll-behavior: smooth;
    line-height: 1.15;
	margin : 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}
main {
	margin : 0;	
}
section {
    padding: 1em;
}
p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
img {
	max-width : 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
a {
	text-decoration : none;
	font-weight : bold;
	color : black;
}
a:hover {
    color: slategrey;
}
ul {
    margin : 0;
    padding : 0;
}
li {
    list-style: none;
}
h1, h2, h3{
    text-align : center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size : 3em;
    width: 100%;
    margin : 0;
    color: white;
}
h2 {
    font-family: 'Ruda', sans-serif;
    font-size : 2em;
    color: #ff5d01;   
}
h3 {
    font-size: 1.3em;
    color: #ff5d01;   
}

/*================================================ HEADER ==================================================*/

header {
    padding-top: 3em;
    height: 100vh;
    background-image: url(../img/nickel-compte.jpg);
	background-repeat : no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}
header p {
    font-size: 2.3em;
    text-align: center;
}

/*================================================ NAVIGATION  */

nav {
    z-index: 1;
    position : fixed;
    top: 0;
	width : 100%;
    padding: 0.8em;
    background-color: white;  
    box-shadow: 0px 2px 4px rgb(0 0 0 / 28%);
}

/*============= MENU BURGER */

.menu-icon {
    z-index: 10;
    position: relative;
    width: 54px;
    height: 54px; 
}
.menu-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    display: block;
    width: 30px;
    height: 5px;
    background-color: #4a9b63;
}
/*Utilisation des pseudos éléments ::before 
et ::after afin de créer la barre au dessus et en dessous. */

.menu-icon span::before, .menu-icon span::after {
    content: '';
    position: absolute;
    transform: translateY(-10px);
    display: block;
    width: 30px;
    height: 5px;
    background-color: #4a9b63;
}
.menu-icon span::after {
    transform: translateY(10px); 
}

/*============= MENU BURGER */

.menu {
    text-align: center;
}
.menu li {
    padding : 1em;
}

/*============= LOGO */

.logo {
    font-size: 1.3em;
}

/*============================================= MAIN ==================================================*/
/*================================================ SECTIONS  */

.description a, .nickel-chrome a {
    padding: 1em;
    color: white;
    background-color: black;
    border-radius: 50px;
    display: block;
    width: 70%;
    margin: 2em auto;
    text-align: center;
}

/*================================================ NICKEL-CHROME  */


/*================================================ FOOTER ==================================================*/

footer {
    padding: 1em;
    background-color: black;
    text-align: center;
}
footer a {
    color: #ff5d01;
}

/*====================================================================== VERSION DESKTOP ==================================================*/
/*======================================================================                 ==================================================*/
/*====================================================================== VERSION DESKTOP ==================================================*/
@media screen and (min-width: 1024px){
    p {
        width: 70%;
        margin: auto;
    }
/*================================================ HEADER ==================================================*/
/*================================================ NAVIGATION */
    nav {
        display: block;
    }
/*================================================ MENU */
    .menu-icon {
        display: none;
    }
    .menu {
        text-align: left;
        display: flex;
        justify-content: space-around;
    }
    .menu li {
        padding: 0;
    }
/*================================================ MAIN ==================================================*/  
/*================================================ SECTION */
.description, .nickel-chrome {
    display: flex;
}
.description div, .nickel-chrome div {
    width: 50%;
}
.description img, .nickel-chrome img {
    width: 50%;
    margin: auto;
}
 
/*================================================ FOOTER ==================================================*/  
    footer {
        display: flex;
        padding: 2em;
        justify-content: space-around;
    }

}